[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpaca-trade-api = ">=1.0.1"
websockets = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
